<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Le formulaire</title>
</head>
<body>
<form action="http://localhost:5000/saveCapteur" method="post">
    <label>ID</label> : <input type="text" name="ID" value= {{ID}} />
    <label>Nom</label> : <input type="text" name="Nom" value= {{Nom}} />
    <label>Température min</label> : <input type="text" name="TemperatureMin" value= {{TemperatureMin}} />
    <label>Température max</label> : <input type="text" name="TemperatureMax" value= {{TemperatureMax}} />
    <label>Humidité min</label> : <input type="text" name="HumiditeMin" value= {{HumiditeMin}} />
    <label>Humidité max</label> : <input type="text" name="HumiditeMax" value= {{HumiditeMax}} />
    <input type="submit" value="Envoyer" />
</form>
</body>
</html>