<!doctype html>
<title>Flaskr</title>

<table>
    <tr>
        <th>ID Capteur</th>
        <th>Humidite</th>
        <th>Température</th>
        <th>Voltage</th>
        <th>RSSI</th>
        <th>Date</th>
    </tr>
    {% for donnee in DonneeListe %}
        <tr>
            <td>{{donnee.IDCapteur}}</td>
            <td>{{donnee.Humidite}}</td>
            <td>{{donnee.Temperature}}</td>
            <td>{{donnee.Temperature}}</td>
            <td>{{donnee.TimeStamp}}</td>
        </tr>

    {% endfor %}
</table>